<%= form_for @story do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <br>
    <%= form.label :done %>
    <%= form.check_box :done %>
  </div>
  <br>

  <%= form.submit %>

<% end %>
