Title: <i style="font-size: 40px;"><%= @story.title %></i>
<hr>
<% if @story.done %>
  Status: Complete
<% end %>

<% @story.sentences.each do |sentence| %>
  <p><%= sentence.sentence %> -<%= sentence.author %> <%= link_to 'Edit', edit_story_sentence_path(@story.id, sentence.id) %></p>
<% end %>

<%= link_to 'Home', stories_path %>
<% if !(@story.done) %>
  <%= link_to 'Contribute', new_story_sentence_path(@story.id) %>
<% end %>
